            /* MAIN */
            body {
                margin: 0;
                font-family: Arial, sans-serif;
                background-color: rgb(17, 14, 14);
            }
            button {
                padding: 10px 15px;
                font-size: 16px;
                cursor: pointer;
            }
            /* SIDEBAR */
            .sidebar {       
                display:flex;
                position: fixed;
                top: 0px;
                left: 0px;
                height: 700px;   
                width: 60px;
                background-color: rgb(56, 52, 52);
                flex-direction: column;
                align-items: center;
                padding-top: 30px;
            }
            .sidebar img {
                width: 20px;
                height: 20px;
                object-fit: conatin;
                margin-bottom: 75px;
            }
            /* SEARCH PAGE */
            .topresults {
                text-align:center;
                font-size: 15px;
                color: gray;
                margin-left: 100px;
            }
            .keyboard {
                text-align:center;
                font-size: 15px;
                color: gray;
                margin-left: 100px;
            }
            .search_cont {
                text-align: center;
                margin-left: 100px;
                margin-top: 50px;
            }
            .searchicon {
                width: 20px;
                height: 20px;
            }
            .img_row_1 {
                display: flex;
                gap: 10px;
                margin-left: 100px;
                margin-top: 20px;
            }
            .img_row_2 {
                display: flex;
                gap: 10px;
                margin-left: 100px;
                margin-top: 20px;
            }
            .search_body {
               display:inline-block;
            }
            .results_row_1 {
                margin-top: 20px;
                display: flex;
                gap: 6px;
                justify-content: center;
            }
            .results_row_2 {
                margin-top: 12px;
                display: flex;
                gap: 6px;
                justify-content: center;
            }

            .listing-card {
                display: inline-block;
                margin-right: 6px;
                margin-top: 10px;
                text-align: center;
            }

            .listing-card img {
                height: 130px; 
                width: auto;
                border-radius: 6px;
                display: block;
            }
            .card-title {
                font-size: 12px;
                color: gray;
                margin-top: 6px;
            }  