            .topresults {
                font-size: 18px;
                color: darkgray;
                margin-left: 150px;
            }
            .search-container {
                text-align: center;
                margin-bottom: 30px;
            }
            .search-container {
                display: flex;
                justify-content: center; 
                align-items: center;     
                gap: 10px;               
                margin-bottom: 30px;
                margin-top: 25px;
            }
            button {
                padding: 10px 15px;
                font-size: 16px;
                cursor: pointer;
            }
            body {
                margin: 0;
                font-family: Arial, sans-serif;
                background-color: black;
            }
            .sidebar {
                position: fixed;       
                top: 0;
                left: 0;
                height: 100vh;   
                width: 80px;
                background-color: dimgray;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding-top: 20px;
            }
            .sidebar a {
                text-decoration: none;
                color: white;
                padding: 20px 0;
                font-size: 24px;
                transition: background 0.3s, transform 0.3s;
            }
            .sidebar img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
